# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist_local*
dist-ssr
*.local
src/main.localbuild*.jsx
src/style.localbuild*.css
_write_test.tmp
.static-local.log
.static-local.err.log
.vite-local.log
.vite-local.err.log
_video_frames/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
